<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cerulean/bootstrap.min.css"
        integrity="sha384-3fdgwJw17Bi87e1QQ4fsLn4rUFqWw//KU0g8TvV6quvahISRewev6/EocKNuJmEw" crossorigin="anonymous">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Use this page for yoru weather</p>

        <form action="">
            <input type="text" placeholder="Location">
            <button>Search</button>
        </form>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">City</th>
                    <th scope="col">Temperature</th>
                    <th scope="col">Feels Like</th>
                    <th scope="col">Forecast</th>
                </tr>
            </thead>
            <tbody>
                <tr class="table-primary">
                    <th scope="row" id="city"></th>
                    <td id="temp"></td>
                    <td id="feelslike"></td>
                    <td id="forecast"></td>
                </tr>
            </tbody>
        </table>

    </div>

    {{>footer}}
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="./js/app.js"></script>
</body>

</html>